.sidenavbar {
  width: 300px;
  padding: 20px;
  background-color: #2f394d;
  color: #fff;
  border-radius: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  height: 94vh;
  margin-bottom: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.organzo-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.organizo-title {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.whole-logo {
  display: flex;
  flex-direction: row;
}

.nav-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.image-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.image-card:hover {
  background-color: #f5f5f5;
  color: #000;
}

.link-text {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

.bottom-links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-item {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: start;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.bottom-item:hover {
  background-color: #f5f5f5;
  color: #000;
}
