body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border:15px solid #2f394d;
}

.home-container > :first-child {
  border-bottom: 1px solid #ccc;
  padding:20px;
}

.home-container > :nth-child(2) {
  flex: 1;
  border-top: 1px solid #ccc;
  padding: 10px;
}
