.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color:#2f394d;
  margin-left: 331px;
  width: calc(100% - 360px);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}

.header-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.header-card {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.add-tasks {
  font-weight: bold;
}

.new-tasks-button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  font-weight: bold;
}
.new-tasks-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}